<header class="site-header">
  <div class="container">
    <a href="/" class="logo">🌿 La Hacienda de los Sueños</a>
    <nav>
      <a href="/">Inicio</a>
      <a href="/finca/">La Finca</a>
      <a href="/blog/">Guías de Boda</a>
      <a href="/contacto/">Contacto</a>
    </nav>
  </div>
</header>
